@import '../../assets/variables';

.form {
	height: 60px;
	padding: 12px 0;
	display: grid;
	align-items: center;
	grid-template-columns: 110px minmax(200px, 1fr) repeat(4, 200px);
	border-top: 1px solid $color-dark-grey;

	&__input {
		height: 100%;
		margin: 0 12px;
		background-color: transparent;
		border: none;
		color: $color-white;

		&:focus {
			padding-left: 10px;
			color: $color-grey;
			outline: none;
			border: 1px solid $color-dark-grey;
			border-radius: 6px;
		}
	}

	&__submit {
		display: none;
	}
}
