$color-dark-background: rgb(32, 33, 36);
$color-grey-background: rgb(39, 39, 42);
$color-white: rgb(255, 255, 255);

$color-min-grey: rgb(198, 198, 198);
$color-light-grey: rgb(161, 161, 170);
$color-grey: rgb(113, 113, 122);
$color-dark-grey: rgb(65, 65, 68);
$font-roboto: 'Roboto', Arial, sans-serif;
